<%- include('../includes/page-head.ejs') %>

</head>

<body>
   <%- include('../includes/page-navigation.ejs') %>
    <main class="container">

        <div class="row">
            <div class="text-center">
                <h1>Quản Lý Sản Phẩm</h1>
            </div>
        </div>

        <div class="row">
            <div class="toolbar">
                <button id="btn-add" class="btn-toolbar btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">+</button>
                <button id="btn-delete" class="btn-toolbar btn btn-danger"> x </button>
            </div>
        </div>

        <div class="row">
            <table 
            id="table" 
            data-click-to-select="true"
            data-pagination="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-search="true"
            data-toolbar=".toolbar"
            >
            <thead>
                <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="_id" data-visible="false">Mã SP</th>
                <th data-field="title">Tên SP</th>
                <th data-field="price">Giá Bán</th>
                <th data-field="mount">SL</th>
                <th data-field="description" data-visible="false">Mô tả</th>
                <th data-field="imageUrl" data-visible="false">Ảnh</th>
                <th data-field="action" data-width="150" data-formatter="actionEditProduct" data-events="actionEditProductEvents">Action</th>
                </tr>
            </thead>
            </table>
        </div>
        
        <div class="row">
            <div id="addProductModal" class="modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm Sản Phẩm Mới</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/add-product/" method="POST" enctype="multipart/form-data">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="title">Tên SP: </label>
                                    <input class="form-control" type="text" name="title" id="title" value="" placeholder="Nhập tên sản phẩm" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="type">Loại sản phẩm: </label>
                                    <select class="form-select" name="type" id="type" value="thucphamtuoi" required>
                                        <option value="thucphamtuoi">Thực phẩm tươi</option>
                                        <option value="thucphamkho">Thực phẩm khô</option>
                                        <option value="thucuong">Thức uống</option>
                                    </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="price">Giá bán: </label>
                                    <input class="form-control" type="number" name="price" id="price" value="" placeholder="Nhập giá bán" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="mount">Số lượng: </label>
                                    <input class="form-control" type="number" name="mount" id="mount" value="" placeholder="Nhập số lượng" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="description">Mô tả: </label>
                                    <textarea class="form-control" name="description" id="description" value="" required></textarea>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="image">Ảnh: </label>
                                    <input class="form-control"
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                        required
                                    >
                                </div>
                                <input type="hidden" name="_csrf">
                                <button class="btn btn-primary" type="submit">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div id="editProductModal" class="modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cập nhật Sản Phẩm</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                           
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="title">Tên SP: </label>
                                    <input class="form-control" type="text" name="title" id="title" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="type">Loại sản phẩm: </label>
                                    <select class="form-select" name="type" id="type" value="thucphamtuoi" required>
                                        <option value="thucphamtuoi">Thực phẩm tươi</option>
                                        <option value="thucphamkho">Thực phẩm khô</option>
                                        <option value="thucuong">Thức uống</option>
                                    </select>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="price">Giá bán: </label>
                                    <input class="form-control" type="number" name="price" id="price" value="" placeholder="Nhập giá bán" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="mount">Số lượng: </label>
                                    <input class="form-control" type="number" name="mount" id="mount" value="" placeholder="Nhập số lượng" required>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="description">Mô tả: </label>
                                    <textarea class="form-control" name="description" id="description" value="" required></textarea>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for="image">Ảnh: </label>
                                    <input class="form-control"
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                    >
                                </div>
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <button id="btn-confirmEditProduct" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmEditProductModal">Xác nhận</button>
                                <button id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>     
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="confirmEditProductModal" class="modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Cập nhật Sản Phẩm</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/edit-product/?edit=true" method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="title">Tên SP: </label>
                                    <span name="title" class="title"></span>
                                    <input type="hidden" name="title" id="title">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="type">Loại sản phẩm: </label>
                                    <span name="type" class="type"></span>
                                    <input type="hidden" name="type" id="type">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="price">Giá bán: </label>
                                    <span name="price" class="price"></span>
                                    <input type="hidden" name="price" id="price">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="mount">Số lượng: </label>
                                    <span name="mount" class="mount"></span>
                                    <input type="hidden" name="mount" id="mount">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="description">Mô tả: </label>
                                    <span name="description" class="description"></span>
                                    <input type="hidden" name="description" id="description">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="image">Ảnh: </label>
                                    <span name="image" class="image"></span>
                                    
                                    <input class="form-control"
                                        type="file hidden" 
                                        name="image" 
                                        id="image" 
                                    >
                                </div>
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editProductModal" role="button">Trở về</button>
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="confirmDeleteProductModal" class="modal">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xác Nhận Xóa Sản Phẩm</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="product-form"  action="/admin/manage/delete-product/?delete=true" method="POST">
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="title">Tên sản phẩm: </label>
                                    <span name="title" class="title"></span>
                                    <input type="hidden" name="title" id="title">
                                </div>
                                
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button class="btn btn-primary" type="submit">Xóa</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="detailProductModal" class="modal fade" data-bs-backdrop="static" >
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Chi Tiết Sản Phẩm</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                                <div class="mb-3 mt-3">
                                    <img name="image" id="imageUrl" class="mh-200" style="width: 150px; height: 200px" src="" alt="">
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="title">Tên SP: </label>
                                    <span name="title" class="title"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="type">Loại sản phẩm: </label>
                                    <span name="type" class="type"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="price">Giá bán: </label>
                                    <span name="price" class="price"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="mount">Số lượng: </label>
                                    <span name="mount" class="mount"></span>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label class="fw-bold form-label" for="description">Mô tả: </label>
                                    <span name="description" class="description"></span>
                                </div>
                                <!-- <div class="mb-3 mt-3">
                                    <label class="form-label" for="image">Ảnh: </label>
                                    <input class="form-control"
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                    >
                                </div> -->
                                <input type="hidden" name="_id" id="_id" val="">
    
                                <input type="hidden" name="_csrf">
                                <button class="btn-editProduct btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editProductModal" >Sửa</button>
                                <button type="button" id="btn-cancel" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

   <script id="admin-products-page" src="/js/script-admin-products.js" products-data='<%- JSON.stringify(products) %>'></script>

   <%- include('../includes/page-end.ejs') %>