<%- include('../includes/page-head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../includes/page-navigation.ejs') %>
    <main>
        <table
        id="table"
        data-url="json/data1.json1"
        data-filter-control="true"
        data-show-search-clear-button="true">
        <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="name" data-filter-control="input">Item Name</th>
            <th data-field="price" data-filter-control="select">Item Price</th>
          </tr>
        </thead>
      </table>
      

    </main>


    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>

   <%- include('../includes/page-end.ejs') %>