#customToolbar {
  margin: 0;
  padding: 0;
}

#customToolbar > button {
  margin-left: 10px;
  /* padding: 0 10px; */
  display: inline-block;
  /* border: 1px solid #c5c5c5;
      background: #f6f6f6; */
  cursor: move;
}
